@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-color:#FFFFFF;
    
    font-family: 'Poppins', sans-serif;
}
.preebook{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    padding :30px 140px;
    /* background-color: black; */
}
.preebook-left{
    /* background-color: cyan; */
}
.preebook-left>h3{
    font-size: 52px ;
    margin-bottom: 0;
}
button{
    position: absolute;
    width: 196px;
    height: 44px;
    color: white;
    border: none;
    /* left: 120px; */


background: #E02C6D;
border-radius: 41px;
}
.preebook-right{
    background-image: url("../images/Circle\ design.svg");
    background-repeat: no-repeat;
    /* background-color: rebeccapurple; */
}
.preebook-right img{
    width: 440px;
    height:414px;
   
}



/* popular Collection */
.popular-collection-section,.tour{
    margin: 80px 180px;
}
.popular-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #A2AFBD; */
    
}
.pc-grid{
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    
    
}
.pc-box-size{
    /* width: 329px; */
  
    margin: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 6px;
}
.pc-box-size h4{
    font-size: 28px;
}
.pc-box-size p{
    font-size: 14px;
}
.pc-box-size h5{
    font-size: 24px;
}
.pc-box-size h5,p,h4{
    margin: 2px;
}
.pc-box-size img{
    align-items: center;
    justify-content: center;
}
.checked{
    color: orange;
}
.btn-see-more{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.tour{
    display: flex;
    justify-content: space-between;
}
.tour>div{
    padding: 20px;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}